<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <main>
        <div class="body">
          <div class="container">
            <p id="notice"><%= notice %></p>
            <%= yield %>
          </div>
        </div>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
<!--yield %>は、ここに各ページの内容として別途作成されたhtmlファイルの内容を持ってくるメソッドになります。
・application.html.erbでhtmlやheadタグなどの共通レイアウト
・アクション名.html.erbでbodyタグ内の個別レイアウト
この２つを役割分担して画面表示しています。
その分割するための機能としてyieldメソッドを使用しており、
yieldメソッドがないとレイアウトが表示されないということが起きてしまいます。
-->